<?xml version="1.0"?>
<launch>

  <node pkg="robot_localization_cust" type="ekf_localization_node" name="ekf_global" clear_params="true">
    <rosparam command="load" file="$(find robot_localization_cust)/params/my_ekf_onlyodom.yaml" />
	
   <!--  Placeholder for output topic remapping -->
   <!-- <remap from="od" to="finalpose"/> 	-->
<!-- <remap from="odometry/filtered" to="finalpose"/> 	-->
    <!--<remap from="accel/filtered" to=""/> -->
</node>

  <!-- <node pkg="robot_localization_cust" type="ekf.sh" name="ekfpose"/>
  <node pkg="robot_localization_cust" type="odom.sh" name="odompose"/> -->
    
</launch>
