<?xml version="1.0"?>

<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />
	<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

	<!-- Start Stage simulator with a given environment
	<node name="Stage" pkg="stage_ros" type="stageros" args="$(find nav2d_tutorials)/world/tutorial.world">
		<param name="base_watchdog_timeout" value="0" />
	</node> -->

	<!-- Start the Operator to control the simulated robot
	<node name="Operator" pkg="nav2d_operator" type="operator" >
		<remap from="scan" to="scan"/>
		<rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
		<rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
	</node> -->

	<!-- Load the environment map in the map_server -->
	<node name="MapServer" pkg="map_server" type="map_server" args="$(find nav2d_tutorials)/world/graph_p10p50range90.yaml" />

	<!-- Start particle filter to track the robot's position -->
	<node name="SelfLocalizer" pkg="nav2d_localizer" type="localizer">
		<remap from="scan" to="scan"/>
		<param name="min_particles" type="int" value="10"/>
		<param name="max_particles" type="int" value="10500"/>

		<param name="alpha_slow" value="0.001"/>
		<param name="alpha_fast" value="0.1"/>
		<param name="min_translation" value="0.10"/>
		<param name="min_rotation" value="0.12"/>
		<param name="pop_err" value="0.01"/>
		<param name="pop_z" value="0.99"/>

		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_z_hit" value="0.5"/>
		<param name="laser_z_max" value="0.1"/>
		<param name="laser_z_rand" value="0.1"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_max_beams" value="60"/>
		<param name="laser_likelihood_max_dist" value="2.0"/>


		<param name="odom_alpha_1" value="0.2"/>
		<param name="odom_alpha_2" value="0.2"/>
		<param name="odom_alpha_3" value="0.15"/>
		<param name="odom_alpha_4" value="0.15"/>

		
	</node>

	<!-- Start the Navigator to move the robot autonomously
	<node name="Navigator" pkg="nav2d_navigator" type="navigator">
		<rosparam file="$(find nav2d_tutorials)/param/navigator.yaml"/>
	</node>

	<node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />
	<node name="Explore" pkg="nav2d_navigator" type="explore_client" />
	<node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" /> -->
	

	<!-- Start the joystick-driver and remote-controller for operationc
	<node name="Joystick" pkg="joy" type="joy_node" />
	<node name="Remote" pkg="nav2d_remote" type="remote_joy" /> -->

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tutorial2.rviz" />

</launch>
